<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
<h1>Create an AddressBook</h1>
<form>
    <p>Owner Name: <input id="owner" type="text"/></p>
    <button type="button" id="addRow">Add Row</button>
    <table id="table">
        <tr>
            <th>Name</th>
        </tr>
    </table>
    <p>
        <button type="button" id="submit">Submit</button>
        <input type="reset" value="Reset"/></p>
</form>
<script src="script.js"></script>
</body>
</html>